  <!-- FlatFy Theme - Andrea Galanti /-->
<!doctype html>
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if IE 9]>    <html class="no-js ie9" lang="en"> <![endif]-->
<!--[if gt IE 9]><!--> <html> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">
    <meta name="description" content="Template NISB web ">
    <meta name="author" content="">
	<link rel="icon" href="https://mridulganga.github.io/nisb-cdn/img/logos/resized_logo.png">
	<!--base href="https://mridulganga.github.io/nisb-cdn/" target="_blank"-->

    <link rel="icon" href="../static/favicon.png">
    <title>NIE IEEE Student Branch</title>

    <!-- Bootstrap core CSS -->
    <link href="https://mridulganga.github.io/nisb-cdn/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom Google Web Font -->
    <link href="https://mridulganga.github.io/nisb-cdn/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Arvo:400,700' rel='stylesheet' type='text/css'>

    <!-- Custom CSS-->
    <link href="https://mridulganga.github.io/nisb-cdn/css/general.css" rel="stylesheet">

	 <!-- Owl-Carousel -->
    <link href="https://mridulganga.github.io/nisb-cdn/css/custom.css" rel="stylesheet">
	<link href="https://mridulganga.github.io/nisb-cdn/css/owl.carousel.css" rel="stylesheet">
    <link href="https://mridulganga.github.io/nisb-cdn/css/owl.theme.css" rel="stylesheet">
	<link href="https://mridulganga.github.io/nisb-cdn/css/style.css" rel="stylesheet">
	<link href="https://mridulganga.github.io/nisb-cdn/css/animate.css" rel="stylesheet">

	<!-- Magnific Popup core CSS file -->
	<link rel="stylesheet" href="https://mridulganga.github.io/nisb-cdn/css/magnific-popup.css">

	<script src="https://mridulganga.github.io/nisb-cdn/js/modernizr-2.8.3.min.js"></script>  <!-- Modernizr /-->
	<!--[if IE 9]>
		<script src="js/PIE_IE9.js"></script>
	<![endif]-->
	<!--[if lt IE 9]>
		<script src="js/PIE_IE678.js"></script>
	<![endif]-->

	<!--[if lt IE 9]>
		<script src="js/html5shiv.js"></script>
	<![endif]-->

</head>

<body id="home">

	<!-- Preloader -->
	<div id="preloader">
		<!--div id="status"></div-->
                         <p class="preloader">$ sudo nisb install website</p>
                         <p class="preloader">Installing   nisb-website...<span>|</span></p>
	</div>

	<!-- Nav was here -->
	<div id="navhome">
	  <nav class="navbar-default" role="navigation">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
					<span class="sr-only">Toggle Navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="/"><img style="margin:-10px;" src="https://mridulganga.github.io/nisb-cdn/img/logos/resized_logo3.png"></a>
			</div>

			<div class="collapse navbar-collapse navbar-right navbar-ex1-collapse">
				<ul class="nav navbar-nav">

					<li class="menuItem"><a href="/">Home</a></li>
					<li class="menuItem"><a href="/about">About</a></li>
					<li class="menuItem"><a href="/events">Events</a></li>
					<li class="menuItem"><a href="/roadmap">Roadmap </a></li>
                    <li class="menuitem dropdown">
                      <a id="dLabel" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Chapters
                        <span class="caret"></span>
                      </a>
                      <ul class="dropdown-menu" aria-labelledby="dLabel">
                        <li class="menuItem"><a href="/wie">Women in Engineering</a></li>
						<li class="menuItem"><a href="/cs">Computer Society</a></li>
						</ul>
		      </li>
		    <li class="menuItem"><a href="/fg">Focus Groups</a></li>
		    <li class="menuItem"><a href="http://blog.nisb.in">Blog</a></li>
					<li class="menuItem"><a href="/contact">Contact</a></li>
				</ul>
			</div>

		</div>
</nav>
	</div>



	<!-- What is -->
	<div id="whatis" class="content-section-b" style="border-top: 0">
		<div class="container">

			<div class="col-md-6 col-md-offset-3 text-center wrap_title">
				<h2 style="font-size:15em;">404</h2>
				<p class="lead" style="margin-top:0">Page not found!<p>
			    <p class="lead">Looking for something? <a href="/contact">Contact Us</a></p>
			</div>


		</div>
	</div>





	<!-- Footer was here -->
	<div id="footerhome"></div>

    <!-- JavaScript -->
    <script src="https://mridulganga.github.io/nisb-cdn/js/jquery-1.10.2.js"></script>
    <script src="https://mridulganga.github.io/nisb-cdn/js/bootstrap.js"></script>
	<script src="https://mridulganga.github.io/nisb-cdn/js/owl.carousel.js"></script>
	<script src="https://mridulganga.github.io/nisb-cdn/js/script.js"></script>
	<!-- StikyMenu -->
	<script src="https://mridulganga.github.io/nisb-cdn/js/stickUp.min.js"></script>
	<script type="text/javascript">
		$(document).ready( function() {
		  	$('.navbar-default').stickUp();

		});

	</script>
	<!-- Smoothscroll -->
	<script type="text/javascript" src="https://mridulganga.github.io/nisb-cdn/js/jquery.corner.js"></script>
	<script src="https://mridulganga.github.io/nisb-cdn/js/wow.min.js"></script>
	<script>
	 new WOW().init();
	</script>
	<script src="https://mridulganga.github.io/nisb-cdn/js/classie.js"></script>
	<script src="https://mridulganga.github.io/nisb-cdn/js/uiMorphingButton_inflow.js"></script>
	<!-- Magnific Popup core JS file -->
	<script src="https://mridulganga.github.io/nisb-cdn/js/jquery.magnific-popup.js"></script>
</body>

</html>
