  <!-- FlatFy Theme - Andrea Galanti /-->
<!doctype html>
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if IE 9]>    <html class="no-js ie9" lang="en"> <![endif]-->
<!--[if gt IE 9]><!--> <html> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">
    <meta name="description" content="About Page: NISB">
    <meta name="author" content="">

	<!--base href="https://mridulganga.github.io/nisb-cdn/" target="_blank"-->
<link rel="stylesheet" type="text/css" href="https://mridulganga.github.io/nisb-cdn/css/preloader.css">
    <link rel="icon" href="https://mridulganga.github.io/nisb-cdn/img/logos/resized_logo.png">
    <title>NIE IEEE Student Branch</title>

   <!-- Bootstrap core CSS -->
    <link href="https://mridulganga.github.io/nisb-cdn/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom Google Web Font -->
    <link href="https://mridulganga.github.io/nisb-cdn/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Arvo:400,700' rel='stylesheet' type='text/css'>

    <!-- Custom CSS-->
    <link href="https://mridulganga.github.io/nisb-cdn/css/general.css" rel="stylesheet">

	 <!-- Owl-Carousel -->
    <link href="https://mridulganga.github.io/nisb-cdn/css/custom.css" rel="stylesheet">
	<link href="https://mridulganga.github.io/nisb-cdn/css/owl.carousel.css" rel="stylesheet">
    <link href="https://mridulganga.github.io/nisb-cdn/css/owl.theme.css" rel="stylesheet">
	<link href="https://mridulganga.github.io/nisb-cdn/css/style.css" rel="stylesheet">
	<link href="https://mridulganga.github.io/nisb-cdn/css/animate.css" rel="stylesheet">

	<!-- Magnific Popup core CSS file -->
	<link rel="stylesheet" href="https://mridulganga.github.io/nisb-cdn/css/magnific-popup.css">

	<script src="https://mridulganga.github.io/nisb-cdn/js/modernizr-2.8.3.min.js"></script>  <!-- Modernizr /-->
	<!--[if IE 9]>
		<script src="js/PIE_IE9.js"></script>
	<![endif]-->
	<!--[if lt IE 9]>
		<script src="js/PIE_IE678.js"></script>
	<![endif]-->

	<!--[if lt IE 9]>
		<script src="js/html5shiv.js"></script>
	<![endif]-->

</head>

<body id="home">

	<!-- Preloader -->
	<div id="preloader">
		<!--div id="status"></div-->
       	</div>

	<!-- Nav was here -->
	<div id="navhome"></div>

	<!-- What is -->
	<div id="whatis" class="content-section-b" style="border-top: 0">
		<div class="container">

			<div class="col-md-6 col-md-offset-3 text-center wrap_title">
				<h2>IEEE</h2>
				<p class="lead" style="margin-top:0">Advancing technology for humanity<p>

			</div>
			</br></br>
			<div class="row">

				<div class="col-sm-10 wow fadeInDown text-justify" style="float:none; margin:0 auto; overflow:hidden;">
				  <center><img class="rotate" src="https://mridulganga.github.io/nisb-cdn/img/icon/bulb.svg" alt="Generic placeholder image"><h3>About Us</h3></center>
				  <p class="lead">The Institute of Electrical and Electronics Engineers is a professional association.It was

                                    formed in 1963 from the amalgamation of the American Institute of Electrical Engineers and the

                                    Institute of Radio Engineers. Today, it is the world's largest association of technical professionals

                                    with more than 400,000 members in chapters around the world. Its objectives are the educational

                                    and technical advancement of electrical and electronic engineering, telecommunications, computer

                                    engineering and allied disciplines.

                                    The core purpose of IEEE is to foster technological innovation and excellence for the benefit of

                                    humanity.The Institute of Electrical and Electronics Engineers sponsors more than 1,600 annual

                                    conferences and meetings worldwide. IEEE is also highly involved in the technical program

                                    development of numerous events including trade events, training workshops, job fairs, and other

programs. </p><img style="overflow:hidden; width:100%;" src="http://mridulganga.github.io/nisb-cdn/img/logos/ieee.jpg">
				  <br>
				  	<a class="footericon" target="_blank" href="http://www.ieee.org"><i class="fa fa-globe rotate" aria-hidden="true" style="font-size:3em;"></i>
          <!---<img src="http://mridulganga.github.io/nisb-cdn/img/icon/like.svg" class="rotate">--->
				</a>

				  	<a class="footericon" target="_blank" href="http://fb.com/IEEE.org"><i class="fa fa-facebook rotate" aria-hidden="true" style="font-size:3em;"></i>
          <!---<img src="http://mridulganga.github.io/nisb-cdn/img/icon/like.svg" class="rotate">--->
					</a>
						<a class="footericon" target="_blank" href="http://twitter.com/IEEEorg"><i class="fa fa-twitter rotate" aria-hidden="true" style="font-size:3em;"></i>
          <!---<img src="http://mridulganga.github.io/nisb-cdn/img/icon/like.svg" class="rotate">--->
						</a>
							<a class="footericon" target="_blank" href="http://instagram.com/ieeeorg"><i class="fa fa-instagram rotate" aria-hidden="true" style="font-size:3em;"></i>
          <!---<img src="http://mridulganga.github.io/nisb-cdn/img/icon/like.svg" class="rotate">--->
							</a>



				  <!-- <p><a class="btn btn-embossed btn-primary view" role="button">View Details</a></p> -->
				</div><!-- /.col-lg-4 -->

			</div><!-- /.row -->


		</div>			</br></br><hr size="30"></br>
	<div class="container">

			<div class="col-md-6 col-md-offset-3 text-center wrap_title">
				<h2>Region 10</h2>


			</div>

			<div class="row">

				<div class="col-sm-10 wow fadeInDown text-justify" style="float:none; margin:0 auto; overflow:hidden;">
				  <center><img class="rotate" src="https://mridulganga.github.io/nisb-cdn/img/icon/bulb.svg" alt="Generic placeholder image"><h3>About Us</h3></center>
				  <p class="lead">The IEEE Region 10, also sometimes referred as the Asia Pacific Region, comprises of 57

Sections, 6 Councils, 17 Sub­sections, 515 Chapters, 60 Affinity Groups and 958 Student

Branches. It covers a geographical area stretching from South Korea and Japan in the north­east to

New Zealand in the south, and Pakistan in the west. With a membership of 107,154, it is one of the

largest regions in IEEE.

In order to fulfill IEEE’s mission of advancing the theory and practice of electrical, electronics,

communications and computer engineering, as well as computer science and related areas, Region

10 activities are directed to developing and maintaining regional entities for the best interests and

benefits of the IEEE members in the region.

TENCON is a premier international technical conference of IEEE Region 10. </p>
<img style="overflow:hidden; width:100%;" src="http://mridulganga.github.io/nisb-cdn/img/logos/region10.jpg">

 <br>
				  	<a class="footericon" target="_blank" href="http://www.ieeer10.org/"><i class="fa fa-globe rotate" aria-hidden="true" style="font-size:3em;"></i>
          <!---<img src="http://mridulganga.github.io/nisb-cdn/img/icon/like.svg" class="rotate">--->
				</a>

				  	<a class="footericon" target="_blank" href="http://fb.com/r10sac"><i class="fa fa-facebook rotate" aria-hidden="true" style="font-size:3em;"></i>
          <!---<img src="http://mridulganga.github.io/nisb-cdn/img/icon/like.svg" class="rotate">--->
					</a>
						<a class="footericon" target="_blank" href="http://twitter.com/ieeer10"><i class="fa fa-twitter rotate" aria-hidden="true" style="font-size:3em;"></i>
          <!---<img src="http://mridulganga.github.io/nisb-cdn/img/icon/like.svg" class="rotate">--->
						</a>

<!-- <p><a class="btn btn-embossed btn-primary view" role="button">View Details</a></p> -->
				</div><!-- /.col-lg-4 -->

			</div><!-- /.row -->


		</div>		</br></br><hr size="30"></br>
	<div class="container">

			<div class="col-md-6 col-md-offset-3 text-center wrap_title">
				<h2>IEEE Bangalore Section</h2>


			</div>

			<div class="row">

				<div class="col-sm-10 wow fadeInDown text-justify" style="float:none; margin:0 auto; overflow:hidden;">
				  <center><img class="rotate" src="https://mridulganga.github.io/nisb-cdn/img/icon/bulb.svg" alt="Generic placeholder image"><h3>About Us</h3></center>
				  <p class="lead">IEEE Banglaore section is one of the most prestigious sections n India known for conducting a

wide range of events and workshops.

IEEE Bangalore Section is recognised as an Outstanding Section for Membership Recruitment and

Retention Performance – 2016.

It has 14 Society Chapters and two affinity groups.The Chapters carry out focused activities in the

respective area by way of conducting technical talks under DLT, Seminars, Tutorials, workshops

etc. Apart from the Chapters two affinity groups viz. the Graduate of the Last Decade (GOLD) and

Women In Engineering (WIE) also carry out related activities. IEEE Bangalore and IEEE

Princeton and Central New Jersey Sections had signed a MoU as sister sections.There are about 53

Student Branches in Karnataka in the various graduate and post­graduate engineering colleges and

these units conduct technical talks, TechFests etc. A dedicated Student Paper contest, Technical

Colloquium and Student Leadership Workshop  are some of the major events conducted under Student activities of the Section.</p>

  <br>
				  	<a class="footericon" target="_blank" href="http://ieeebangalore.org"><i class="fa fa-globe rotate" aria-hidden="true" style="font-size:3em;"></i>
          <!---<img src="http://mridulganga.github.io/nisb-cdn/img/icon/like.svg" class="rotate">--->
				</a>

				  	<a class="footericon" target="_blank" href="http://fb.com/IEEEBangaloreSection"><i class="fa fa-facebook rotate" aria-hidden="true" style="font-size:3em;"></i>
          <!---<img src="http://mridulganga.github.io/nisb-cdn/img/icon/like.svg" class="rotate">--->
					</a>
						<a class="footericon" target="_blank" href="http://twitter.com/ieeebangalore"><i class="fa fa-twitter rotate" aria-hidden="true" style="font-size:3em;"></i>
          <!---<img src="http://mridulganga.github.io/nisb-cdn/img/icon/like.svg" class="rotate">--->
						</a>				 
				  <!-- <p><a class="btn btn-embossed btn-primary view" role="button">View Details</a></p> -->
				</div><!-- /.col-lg-4 -->

			</div><!-- /.row -->


		</div>		</br></br><hr size="30"></br>
	<div class="container">

			<div class="col-md-6 col-md-offset-3 text-center wrap_title">
				<h2>NISB</h2>
				<p class="lead" style="margin-top:0">Lets Talk!<p>

			</div>

			<div class="row">

				<div class="col-sm-10 wow fadeInDown text-justify" style="float:none; margin:0 auto; overflow:hidden;">
				  <center><img class="rotate" src="https://mridulganga.github.io/nisb-cdn/img/logos/nisb.jpg" alt="Generic placeholder image"><h3>About Us</h3></center>
				  <p class="lead">NISB is the IEEE student branch of National Institue of Engineering. It is one of the largest and

most active student branches of Karnataka.Having been active for a decade, we have been

honoured and humbled with numerous awards and accolades over time, including "The Best

Student Chapter" of Region 10­ Bangalore. We organize and host a wide range of technical

workshops and events. We have our odd sem fest ADROIT and even sem fest ANKURA.

Electronika , IPL are few our signature events. </p>

				  <!-- <p><a class="btn btn-embossed btn-primary view" role="button">View Details</a></p> -->
				</div><!-- /.col-lg-4 -->

			</div><!-- /.row -->


		</div>
	</div>






	<!-- Footer was here -->
	<div id="footerhome"></div>

    <!-- JavaScript -->
    <script src="https://mridulganga.github.io/nisb-cdn/js/jquery-1.10.2.js"></script>
    <script src="https://mridulganga.github.io/nisb-cdn/js/bootstrap.js"></script>
	<script src="https://mridulganga.github.io/nisb-cdn/js/owl.carousel.js"></script>
	<script src="https://mridulganga.github.io/nisb-cdn/js/script.js"></script>
	<!-- StikyMenu -->
	<script src="https://mridulganga.github.io/nisb-cdn/js/stickUp.min.js"></script>
<!--	<script type="text/javascript">
		$(document).ready( function() {
			$("#navhome").load("https://mridulganga.github.io/nisb-cdn/nav.html");
			$("#footerhome").load("https://mridulganga.github.io/nisb-cdn/footer.html");
		  	$('.navbar-default').stickUp();

		});

		</script> -->
<script type="text/javascript">
		$(document).ready( function() {
			$("#preloader").load("https://mridulganga.github.io/nisb-cdn/preloader.html");

		});

	</script>
<script src="https://mridulganga.github.io/nisb-cdn/js/preloader.js">
	<!-- Smoothscroll -->
	<script type="text/javascript" src="https://mridulganga.github.io/nisb-cdn/js/jquery.corner.js"></script>
	<script src="https://mridulganga.github.io/nisb-cdn/js/wow.min.js"></script>
	<script>
	 new WOW().init();
	</script>
	<script src="https://mridulganga.github.io/nisb-cdn/js/classie.js"></script>
	<script src="https://mridulganga.github.io/nisb-cdn/js/uiMorphingButton_inflow.js"></script>
	<!-- Magnific Popup core JS file -->
	<script src="https://mridulganga.github.io/nisb-cdn/js/jquery.magnific-popup.js"></script>
</body>

</html>
