  <!-- FlatFy Theme - Andrea Galanti /-->
<!doctype html>
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if IE 9]>    <html class="no-js ie9" lang="en"> <![endif]-->
<!--[if gt IE 9]><!--> <html> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">
    <meta name="description" content="NIE IEEE Computer Society Official Page">
    <meta name="author" content="">

	<!--base href="https://mridulganga.github.io/nisb-cdn/" target="_blank"-->

    <link rel="icon" href="https://mridulganga.github.io/nisb-cdn/img/logos/resized_logo.png">
    <title>NIE IEEE Student Branch</title>

    <!-- Bootstrap core CSS -->
    <link href="https://mridulganga.github.io/nisb-cdn/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom Google Web Font -->
    <link href="https://mridulganga.github.io/nisb-cdn/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Arvo:400,700' rel='stylesheet' type='text/css'>

    <!-- Custom CSS-->
    <link href="https://mridulganga.github.io/nisb-cdn/css/general.css" rel="stylesheet">

	 <!-- Owl-Carousel -->
    <link href="https://mridulganga.github.io/nisb-cdn/css/custom.css" rel="stylesheet">
	<link href="https://mridulganga.github.io/nisb-cdn/css/owl.carousel.css" rel="stylesheet">
    <link href="https://mridulganga.github.io/nisb-cdn/css/owl.theme.css" rel="stylesheet">
	<link href="https://mridulganga.github.io/nisb-cdn/css/style.css" rel="stylesheet">
	<link href="https://mridulganga.github.io/nisb-cdn/css/animate.css" rel="stylesheet">

	<!-- Magnific Popup core CSS file -->
	<link rel="stylesheet" href="https://mridulganga.github.io/nisb-cdn/css/magnific-popup.css">

	<link rel="stylesheet" type="text/css" href="https://mridulganga.github.io/nisb-cdn/css/cs.css">
	<!-- <link rel="stylesheet" type="text/css" href="G:\Git Hub\nisb-cdn\css\cs.css"> -->

	<link rel="stylesheet" type="text/css" href="https://mridulganga.github.io/nisb-cdn/css/preloader.css">
	
	<script src="https://mridulganga.github.io/nisb-cdn/js/modernizr-2.8.3.min.js"></script>  <!-- Modernizr /-->

	<!--[if IE 9]>
		<script src="js/PIE_IE9.js"></script>
	<![endif]-->
	<!--[if lt IE 9]>
		<script src="js/PIE_IE678.js"></script>
	<![endif]-->

	<!--[if lt IE 9]>
		<script src="js/html5shiv.js"></script>
	<![endif]-->
</head>

<body id="home">

	<!-- Preloader -->
	<div id="preloader">
	  <!--div id="status"></div-->
	</div>

	<!-- Nav was here -->
	<div id="navhome"></div>

	<!-- What is -->
	<div id="whatis" class="content-section-b" style="border-top: 0">
		<div class="container">

			<div class="col-md-6 col-md-offset-3 text-center wrap_title">
				<!-- <h2>Computer Society</h2> -->
				<img class="cs-logo" src="https://mridulganga.github.io/nisb-cdn/img/cs/logo.jpg">
				<!-- <p class="lead" style="margin-top:0">This is the subtitle<p> -->

			</div>

			<div class="row cs-about">

				<div class="col-sm-10 wow fadeInDown text-justify " style="float:none; margin:0 auto; overflow:hidden;">
				  <center><h3>NIE IEEE Computer Society (NICS)</h3></center>
				  <p class="lead" style="text-align: justified;">
                    IEEE has many societies under its umbrella. One of its largest and most active societies is the IEEE Computer Society. NISB has started its Computer Society chapter <b>two years ago</b> with only 15 members and currently has a whopping a figure of <b>60 members</b>. <br>Through NISB, IEEE students of NIE can take up student membership for the Computer Society <br>(more on that under FAQs).<br></p>
                    <h4 style="text-align: center">
					Being members of NICS you get:</h4>
                    <ul class="cslist col-md-6 col-md-offset-4">
                    <li>Access to exclusive resources at <a href="http://computer.org/">computer.org</a></li>
                    <li>Volunteering opportunities at IEEE Computer Society events</li>
                    <li>Discounts at Computer Society events in college level</li>
                    </ul>

				  <!-- <p><a class="btn btn-embossed btn-primary view" role="button">View Details</a></p> -->
				</div><!-- /.col-lg-4 -->

			</div><!-- /.row -->


		</div>
	</div>

	<div class="container cs-events">
			<h3 class="text-center">Events</h3>
<!--		<div class="row">
		<div class="col-md-12 outer">
			<div class="col-md-6"><img src="http://placehold.it/350x150"></div>
			<div class="col-md-6"><h4>Open Source Meetup<br> <h5>3rd September, 2016 </h5></h4> The Computer Society Chapter of the NIE IEEE Student Branch kick started its semester with a meet with its members. The topic for the meet was Open source. We invited an active contributor from our student community to deliver a session on the same.</div>
		</div>
		<div class="col-md-12 outer">
			<div class="col-md-6 pull-right"><img src="http://placehold.it/350x150"></div>
			<div class="col-md-6"><h4>BASIC PROGRAMMING SESSIONS<br><h5>21th to 23th September</h5></h4>The IEEE Computer Society Chapter of NISB organised a 3-day session on Basic Programming. Around 50 students mostly from first year showed great interest and turned up those who had little or no knowledge about coding.</div>
			
		</div>
		<div class="col-md-12 outer">
			<div class="col-md-6"><img src="http://placehold.it/350x150"></div>
			<div class="col-md-6"><h4>Talk on FOSS and GSOC<br><h5>28th September, 2016</h5></h4>The IEEE Computer Society Chapter of NISB hosted a talk by an active Open Source enthusiast and contributor and Google Summer of Code 2016 intern, Mr. Farhaan Bukhsh. Around 80 students from across all 4 years attended the talk.</div>
		</div>
		<div class="col-md-12 outer">
			<div class="col-md-6 pull-right"><img src="http://placehold.it/350x150"></div>
			<div class="col-md-6"><h4>Competitive Coding Workshop<h5>23rd October 2016</h5></h4> The IEEE Computer Society of NIE IEEE Student Branch conducted a one day workshop on Competitive Coding in association with Hackerearth. Students from various colleges from in and around Mysore participated in this event.The aim of the event was to teach the approach towards competitive coding problems and the thinking process for them.</div>
			
		</div>
	</div>
	   </div>
-->

	<div class="container text-center">


          <!--todays events-->

      {% if futureEvents %}
      <h3>Coming up</h3>
			<div class="row">

        {% for happening in futureEvents %}
				<div class="col-md-12 outer">
						<div class="col-md-6 event-image">
						 
							<img class="img-responsive" src={{happening.cover.source}}>
						
						</div>
						<div class="col-md-6 event-content">
						<h3>{{happening.name}}</h3>
						<span>{{ happening.place.location.street }}</span><br>
						<span>{{ happening.start_time }}</span><br>
						<p> {{ happening.discription }} </p>
						{% with "http://www.nisb.in/events/register/?eventid="|add:happening.id as regLink %}
						<a href={{regLink}} class="btn btn-success" style="margin:10px;">Register/Get ticket</a>
						{% endwith %}
					</div>
					<br>
				</div>
        <div></div>



        {% endfor %}

			</div><!--todays ends here-->
      {% endif %}


      <!--future events-->

  <!--past events-->

{% if pastEvents %}
<h3>Past Events</h3>
<div class="row">

{% for happening in pastEvents %}
<div class="col-md-12 outer">
    <div class="col-md-6">
      <img class="img-responsive" src={{happening.cover.source}}>
    </div>
    <div class="col-md-6 event-content">
    <h4>{{happening.name}}</h4>
    <span>Venue : {{ happening.place.location.street }}</span><br>
    <span>Date : {{ happening.start_time }}</span><br>
    <p> {{ happening.description}} </p>
    Feedback us by posting on our wall:
    {% with "https://www.facebook.com/"|add:happening.id as infoDiv %}
    <a href={{infoDiv}} class="btn btn-success" style="margin:10px;"><i class="fa fa-facebook" aria-hidden="true" style="font-size:2em;"></i></a>
    {% endwith %}
  </div>
  <br>
</div>
{% endfor %}
{% endif %}
<!-- Modal -->


</div><!--past ends here-->

</div>
	<div class="cs-contact container-fluid">
                    	<div class="row">
                    	<h3 class="text-center">Contact: </h3>
                    		<div class="col-md-6 text-center cs-contact-inner">
                    			Chairperson<br>
								Arpana Debnath<br>
								arpana.debnath@computer.org
                    		</div>
                    		<div class="col-md-6 text-center cs-contact-inner">
                    			
                    			Vice Chairperson<br>
								Aditya J<br>
								aditya.janardhanan@ieee.org
                    		</div>
                    	</div>
                    </div>
                    	<hr>
       <div class="container">
       	<div class="panel panel-info">
       		<div class="panel-heading"><h4>FAQ</h4></div>
       		<div class="panel-body"><ol class="faq">
       			<li>How can I take up Computer Society membership ?</li><p>By contacting us.</p>
       			<li>When can I take up membership?</li><p>You can take up membership any time of the year. However in order to totally utilise your membership, it is better to take during August-September for full year membership and Jan-Feb for half year membership. </p>
       			<li>Who is eligible for IEEE Computer Society membership?</li><p>Any IEEE member enrolled in undergraduate or postgraduate course at NIE.</p>
       			<li>What is the membership fee?</li><p>	For full year membership it is Rs. 550 (can be availed from Aug-Dec for membership till next Dec)<br>
				For half year membershi it is Rs. 300 (can be availed from Jan-July for membership till Dec)</p>
				<li>I am not an IEEE member but I want to be a Computer Society member. What to do?</li><p>It is mandatory to be a IEEE student member to be able to take up Computer Society membership, otherwise you would be considered as an associate member which costs a lot more than IEEE and CS membership combined.</p>

       		</ol></div>
       	</div>
       </div>
	
	<!-- Footer was here -->
	<div id="footerhome"></div>

    <!-- JavaScript -->
    <script src="https://mridulganga.github.io/nisb-cdn/js/jquery-1.10.2.js"></script>
    <script src="https://mridulganga.github.io/nisb-cdn/js/bootstrap.js"></script>
	<script src="https://mridulganga.github.io/nisb-cdn/js/owl.carousel.js"></script>
	<script src="https://mridulganga.github.io/nisb-cdn/js/script.js"></script>
	<!-- StikyMenu -->
	<script src="https://mridulganga.github.io/nisb-cdn/js/stickUp.min.js"></script>
	<script type="text/javascript">
		$(document).ready( function() {
			$("#preloader").load("https://mridulganga.github.io/nisb-cdn/preloader.html");

		});

	</script>
<script src="https://mridulganga.github.io/nisb-cdn/js/preloader.js">
<!-- Smoothscroll -->
	<script type="text/javascript" src="https://mridulganga.github.io/nisb-cdn/js/jquery.corner.js"></script>
	<script src="https://mridulganga.github.io/nisb-cdn/js/wow.min.js"></script>
	<script>
	 new WOW().init();
	</script>
	<script src="https://mridulganga.github.io/nisb-cdn/js/classie.js"></script>
	<script src="https://mridulganga.github.io/nisb-cdn/js/uiMorphingButton_inflow.js"></script>
	<!-- Magnific Popup core JS file -->
	<script src="https://mridulganga.github.io/nisb-cdn/js/jquery.magnific-popup.js"></script>
	<script type="text/javascript">
		
	</script>
</body>

</html>
