<footer>
      <div class="container">
        <div class="row">
<div class="col-md-7">
          <div class="col-md-7">
            <h3 class="footer-title">Follow Us!</h3>
				<style>
				.footericon{ overflow:hidden; display:inline-block; margin:5px;}
				.footericon img {width:50px;}
				</style>

				<a class="footericon" target="_blank" href="http://fb.com/nieieeestudentbranch"><i class="fa fa-facebook rotate" aria-hidden="true" style="font-size:3em;"></i>
          <!---<img src="http://mridulganga.github.io/nisb-cdn/img/icon/like.svg" class="rotate">--->
				</a>

				<a class="footericon" target="_blank" href="http://twitter.com/niemysieee"><i class="fa fa-twitter rotate" aria-hidden="true" style="font-size:3em;"></i>
          <!--<img src="http://mridulganga.github.io/nisb-cdn/img/icon/tweet.svg" class="rotate">-->
				</a>

				<a class="footericon" target="_blank" href="http://instagram.com/nie_ieee_student_branch/"><i class="fa fa-instagram rotate" aria-hidden="true" style="font-size:3em;"></i>
          <!--<img src="http://mridulganga.github.io/nisb-cdn/img/icon/insta.png" class="rotate">-->
				</a>

				<a class="footericon" target="_blank" href="mailto:nisb.ieee@gmail.com"><i class="fa fa-envelope rotate" aria-hidden="true" style="font-size:3em;"></i>
          <!---<img src="http://mridulganga.github.io/nisb-cdn/img/icon/email.png" class="rotate">-->
				</a>
        <br>
        <!-- LICENSE -->
         License <a rel="license" href="http://creativecommons.org/licenses/by-nc-nd/4.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-nc-nd/4.0/88x31.png" /></a><br />This work is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-nc-nd/4.0/">Creative Commons Attribution-NonCommercial-NoDerivatives 4.0 International License</a>.
			</div>

      <div class="col-md-5">
        <h3>External Links</h3>
        <ol>
          <li style="list-style-type: none;"><a href="https://www.ieee.org" target="_blank">IEEE</a></li>
          <li style="list-style-type: none"><a href="http://www.ewh.ieee.org/r10/india_council/" target="_blank">Region_10</a></li>
        <li style="list-style-type: none;"><a href="http://ieeebangalore.org/" target="_blank">Bangalore_Section</a></li>
        <li style="list-style-type: none;"><a href="http://www.nie.ac.in/" target="_blank">The National Institute of Engineering, Mysuru</a></li>
        </ol>
      </div>
</div><!--col-7 outer-->




          <div class="col-md-5">
            <div class="footer-banner">
              <h3 class="footer-title">Address</h3>
              <ul>
                <li>NIE IEEE Students Branch</li>
                <li>The National Institute of Engineering</li>
                <li>Mysuru</li>
                <li>NISB Chairperson</li>
                <li>Rajasimha Reddy- +91 89044 55359</li>
				<li><a href="mailto:in.reddy.r@ieee.org">in.reddy.r@ieee.org</a></li>
              </ul>

            </div>
          </div>
        </div>
      </div>
    </footer>
