<!doctype html>
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if IE 9]>    <html class="no-js ie9" lang="en"> <![endif]-->
<!--[if gt IE 9]><!--> <html> <!--<![endif]-->

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">
    <meta name="description" content="NISB Official Website">
    <meta name="author" content="">
	<!--base-->
	<!--base href="https://mridulganga.github.io/nisb-cdn/" target="_blank"-->

	<link rel="icon" href="https://mridulganga.github.io/nisb-cdn/img/logos/resized_logo.png">
    <title>NIE IEEE Student Branch</title>

    <!-- Bootstrap core CSS -->
    <link href="https://mridulganga.github.io/nisb-cdn/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom Google Web Font -->
    <link href="https://mridulganga.github.io/nisb-cdn/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Arvo:400,700' rel='stylesheet' type='text/css'>

    <!-- Custom CSS-->
    <link href="https://mridulganga.github.io/nisb-cdn/css/general.css" rel="stylesheet">

	 <!-- Owl-Carousel -->
    <link href="https://mridulganga.github.io/nisb-cdn/css/custom.css" rel="stylesheet">
	<link href="https://mridulganga.github.io/nisb-cdn/css/owl.carousel.css" rel="stylesheet">
    <link href="https://mridulganga.github.io/nisb-cdn/css/owl.theme.css" rel="stylesheet">
	<link href="https://mridulganga.github.io/nisb-cdn/css/style.css" rel="stylesheet">
	<link href="https://mridulganga.github.io/nisb-cdn/css/animate.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

	<!-- Magnific Popup core CSS file -->
	<link rel="stylesheet" href="https://mridulganga.github.io/nisb-cdn/css/magnific-popup.css">

	<script src="https://mridulganga.github.io/nisb-cdn/js/modernizr-2.8.3.min.js"></script>  <!-- Modernizr /-->
	<!--[if IE 9]>
		<script src="js/PIE_IE9.js"></script>
	<![endif]-->
	<!--[if lt IE 9]>
		<script src="js/PIE_IE678.js"></script>
	<![endif]-->

	<!--[if lt IE 9]>
		<script src="js/html5shiv.js"></script>
	<![endif]-->

	<style>
	  .scrolled-nav {
	  position: fixed;
	  width: 100%;
	  top: 0;
	  }
   

	</style>
	
</head>

<body id="home">

	<!-- Preloader -->
	<div id="preloader">
		<!--div id="status"></div-->
                         <p class="preloader">$ sudo nisb install website</p>
                         <p class="preloader">Installing   nisb-website...<span>|</span></p>
	</div>

	<!-- FullScreen -->
    <div class="intro-header">
		<div class="col-xs-12 text-center abcen1">
			<h1 class="h1_home wow fadeIn" data-wow-delay="0.4s" style="color:#333;">NISB</h1>
			<h3 class="h3_home wow fadeIn" data-wow-delay="0.6s" style="color:#333;">NIE IEEE Student Branch</h3>
			<ul class="list-inline intro-social-buttons">
			  <li class="dropdown"><a id="join" data-toggle="dropdown" class="btn  btn-lg mybutton_cyano wow fadeIn" data-wow-delay="0.8s"><span class="network-name"><b>Join US</b></span></a>
			    <ul class="dropdown-menu" aria-labelledby="join">
			      <li class="menuItem"><a href="https://goo.gl/forms/Ok7VKgqGLvVrwqms1" target="_blank">New member</li>
			      <li class="menuItem"><a data-toggle="modal" data-target="#renewalModal">Renewal</li>
			    </ul>
				</li>
			</ul>
			
			
		</div>
        <!-- /.container -->
		<div class="col-xs-12 text-center abcen wow fadeIn">
			<div class="button_down ">
				<a class="imgcircle wow bounceInUp" data-wow-duration="1.5s"  href="#whatis"> <img class="img_scroll" src="https://mridulganga.github.io/nisb-cdn/img/icon/circle.png" alt=""> </a>
			</div>
		</div>
    </div>

    <div id="renewalModal" class="modal fade" role="dialog">
			  <div class="modal-dialog">
			    <div class="modal-header">
			      <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Renewing your membership</h4>
      </div>
      <div class="modal-body">
        <p>To renew, <a href="/contact">contact us</a>, visit us, access your account and renew it with us.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
			</div>

<!-- Nav was here -->
	<div id="navhome"></div>

	<!-- What is -->
	<div id="whatis" class="content-section-b" style="border-top: 0">
		<div class="container">

			<div class="col-md-6 col-md-offset-3 text-center wrap_title">
				<h2>What is NISB?</h2>
				<p class="lead" style="margin-top:0">Lets talk!</p>

			</div >

			<div class="row">

				<div class="col-sm-10 wow fadeInDown text-justify" style="float:none; margin:0 auto; overflow:hidden;">
				  <center><i class="material-icons md-48 rotate" style="font-size:60px;">info</i>
				  <h3>About Us</h3></center>
				  <p class="lead">NIE IEEE Student Branch provides a platform and opportunties to student members that will help to
					develop professionally and get identified in their designated fields of interest. In addition to access a range of membership benefits
					students will be encouraged in building global connections with people who can help you towards your targetted path. Our objective is to
					bridge the gap between industry and students studying in technology related fields.

					NIE-IEEE Student Branch was reinitiated in 2008-09. In the year 2012, NIE-IEEE Student branch had 56 IEEE members out of which 5 were
					Professional members. During 2013 NIE-IEEE Student branch had 70 IEEE members out of which 11 are Professional members. Right now we have
					more than 200 active IEEE members. </p>

				  <!-- <p><a class="btn btn-embossed btn-primary view" role="button">View Details</a></p> -->
				</div><!-- /.col-lg-4 -->

			</div><!-- /.row -->


		</div>
	</div>

	<!-- Use it -->


    <div id ="useit" class="content-section-a">

        <div class="container">

            <div class="row">

				<div class="col-sm-12 wow fadeInRightBig">
					<center><h3>Updates</h3></center>
					<div>
					  <!-- Nav tabs -->
					  <ul class="nav nav-tabs" role="tablist">
						<li role="presentation" class="active"><a href="#ieee" aria-controls="ieee" role="tab" data-toggle="tab">IEEE</a></li>
						<li role="presentation"><a href="#r10" aria-controls="r10" role="tab" data-toggle="tab">R10</a></li>
						<li role="presentation"><a href="#section" aria-controls="section" role="tab" data-toggle="tab">Section</a></li>
						<li role="presentation"><a href="#nisb" aria-controls="nisb" role="tab" data-toggle="tab">NISB</a></li>
						<li role="presentation"><a href="#tech" aria-controls="tech" role="tab" data-toggle="tab">Tech</a></li>
					  </ul>

					  <!-- Tab panes -->
					  <div class="tab-content">
						<div role="tabpanel" class="tab-pane active" id="ieee">
							 {% if ieeeBulletin %}
								<ol>
								{% for bulletin in ieeeBulletin %}
								<li>{{bulletin.theLine}} <a href={{bulletin.theLink}} target="_blank"> more<i class="material-icons">open_in_new</i></a></li>
								{% endfor %}
								</ol>
							{% else %}
								No news avalable
							{% endif %}

						</div>
						<div role="tabpanel" class="tab-pane fade" id="r10">
							{% if r10Bulletin %}
								<ul>
								{% for bulletin in r10Bulletin %}
								<li>{{bulletin.theLine}} <a href={{bulletin.theLink}} target="_blank"> more<i class="material-icons">open_in_new</i></a></li>
								{% endfor %}
								</ul>
							{% else %}
								No news avalable
							{% endif %}
						</div>
						<div role="tabpanel" class="tab-pane fade" id="section">
							{% if blrBulletin %}
								<ul>
								{% for bulletin in blrBulletin %}
								<li>{{bulletin.theLine}} <a href={{bulletin.theLink}} target="_blank"> more<i class="material-icons">open_in_new</i></a></li>
								{% endfor %}
								</ul>
							{% else %}
								No news avalable
							{% endif %}
						</div>
						<div role="tabpanel" class="tab-pane fade" id="nisb">
							{% if nisbBulletin %}
								<ul>
								{% for bulletin in nisbBulletin %}
								<li>{{bulletin.theLine}} <a href={{bulletin.theLink}} target="_blank"> more<i class="material-icons">open_in_new</i></a></li>
								{% endfor %}
								</ul>
							{% else %}
								No news avalable
							{% endif %}
						</div>
						<div role="tabpanel" class="tab-pane fade" id="tech">
							{% if techNews %}
									<ul>
									{% for bulletin in techNews %}
									<li>{{bulletin.theLine}} <a href={{bulletin.theLink}} target="_blank"> more<i class="material-icons">open_in_new</i></a></li>
									{% endfor %}
									</ul>
							{% else %}
								No news avalable
							{% endif %}
						</div>
					  </div>

					</div>
				</div>
            </div>
        </div>
        <!-- /.container -->
    </div>


	<div  class="content-section-c ">
		<div class="container">
			<div class="row">
			<div class="col-md-6 col-md-offset-3 text-center white">
				<h2>Ankura is here!</h2>
				<p class="lead" style="margin-top:0">The Even Semester's TechnoEvent by NISB.</p>
			 </div>
			<div class="col-md-6 col-md-offset-3 text-center">
				<div class="mockup-content">
						<div class="wow pulse">
							<a href="http://ankura.nisb.in" class="btn btn-large btn-embossed btn-primary">Ankura 2017</a>
						</div>
				</div>
			</div>
			</div>>
		</div>
	</div>



	<!-- Screenshot -->
	<style>
	.small-slides{width:200px;}
	</style>
	<div id="screen" class="content-section-b">
        <div class="container">
          <div class="row" >
			 <div class="col-md-6 col-md-offset-3 text-center wrap_title ">
				<h2>IEEE Resources</h2>
				<p class="lead" style="margin-top:0">A special thanks to our Partners.</p>
			 </div>
		  </div>
		    <div class="row wow bounceInUp" >
              <div id="owl-demo" class="owl-carousel">

				<a href="http://www.ieee.org/membership_services/membership/students/potentials.html" target="_blank">
					<div class="item small-slides">
					  <img  class="img-responsive img-rounded" src="https://mridulganga.github.io/nisb-cdn/img/resources/1.jpg" alt="IEEE Potentials">
					  <div class="carousel-caption">
					    <p>IEEE Potentials</p>
					  </div>
					</div>
				</a>

               <a href="http://spectrum.ieee.org" target="_blank">
					<div class="item small-slides">
					  <img  class="img-responsive img-rounded" src="https://mridulganga.github.io/nisb-cdn/img/resources/2.jpg" alt="IEEE Spectrum">
					   <div class="carouse-caption">
					    <p>IEEE Spectrum</p>
					  </div>
					</div>
				</a>

				<a href="http://ieeetv.ieee.org" target="_blank">
					<div class="item small-slides">
					  <img  class="img-responsive img-rounded" src="https://mridulganga.github.io/nisb-cdn/img/resources/3.png" alt="IEEE TV">
					   <div class="carousel-caption">
					    <p>IEEE TV</p>
					  </div>
					</div>
				</a>

				<a href="http://ieeexplore.ieee.org" target="_blank">
					<div class="item small-slides">
						<img  class="img-responsive img-rounded" src="https://mridulganga.github.io/nisb-cdn/img/resources/4.png" alt="IEEE Xplore Digital Library">
						 <div class="carousel-caption">
					    <p>IEEE Xplore</p>
					  </div>
					</div>
				</a>

               <a href="http://ieee.org/myieee" target="_blank">
					<div class="item small-slides">
						<img  class="img-responsive img-rounded" src="https://mridulganga.github.io/nisb-cdn/img/resources/5.png" alt="MyIEEE">
					</div>
					 <div class="carousel-caption">
					    <p>Acess myIEEE</p>
					  </div>
				</a>

				<a href="https://ieee-collaboratec.ieee.org" target="_blank">
					<div class="item small-slides">
						<img  class="img-responsive img-rounded" src="https://mridulganga.github.io/nisb-cdn/img/resources/6.png" alt="Societies and Communities">
					</div>
				 <div class="carousel-caption">
					    <p>IEEE Collaboratec</p>
				 </div>
				</a>
					<a href="http://www.ieee.org/societies_communities/index.html" target="_blank">
					<div class="item small-slides">
						<img  class="img-responsive img-rounded" src="https://mridulganga.github.io/nisb-cdn/img/resources/7.jpg" alt="Societies and Communities">
					</div>
				 <div class="carousel-caption">
					    <p>IEEE Societies and Communities</p>
				 </div>
					</a>
					
					<a href="https://oc.ieee.org/" target="_blank">
					<div class="item small-slides">
						<img  class="img-responsive img-rounded" src="https://mridulganga.github.io/nisb-cdn/img/resources/8.jpg" alt="Societies and Communities">
					</div>
				 <div class="carousel-caption">
					    <p>IEEE On-line Communities</p>
				 </div>
				 </a>
              </div>
          </div>
        </div>

	</div>



	<!-- Credits
	<div id="credits" class="content-section-a">
		<div class="container">
			<div class="row">

			<div class="col-md-6 col-md-offset-3 text-center wrap_title">
				<h2>Testimonials</h2>
				<p class="lead" style="margin-top:0">This is what our guests think.</p>
			 </div>

				<div class="col-sm-6  block wow bounceIn">
					<div class="row">
						<div class="col-md-4 box-icon rotate">
							<i class="fa fa-desktop fa-4x "> </i>
						</div>
						<div class="col-md-8 box-ct">
							<h3> Bootstrap </h3>
							<p> Lorem ipsum dolor sit ametconsectetur adipiscing elit. Suspendisse orci quam. </p>
						</div>
				  </div>
			  </div>
			  <div class="col-sm-6 block wow bounceIn">
					<div class="row">
					  <div class="col-md-4 box-icon rotate">
						<i class="fa fa-picture-o fa-4x "> </i>
					  </div>
					  <div class="col-md-8 box-ct">
						<h3> Owl-Carousel </h3>
						<p> Nullam mo  arcu ac molestie scelerisqu vulputate, molestie ligula gravida, tempus ipsum.</p>
					  </div>
					</div>
			  </div>
		  </div>

		  <div class="row tworow">
				<div class="col-sm-6  block wow bounceIn">
					<div class="row">
						<div class="col-md-4 box-icon rotate">
							<i class="fa fa-magic fa-4x "> </i>
						</div>
						<div class="col-md-8 box-ct">
							<h3> Codrops </h3>
							<p> Lorem ipsum dolor sit ametconsectetur adipiscing elit. Suspendisse orci quam. </p>
						</div>
				  </div>
			  </div>
			  <div class="col-sm-6 block wow bounceIn">
					<div class="row">
					  <div class="col-md-4 box-icon rotate">
						<i class="fa fa-heart fa-4x "> </i>
					  </div>
					  <div class="col-md-8 box-ct">
						<h3> Lorem Ipsum</h3>
						<p> Nullam mo  arcu ac molestie scelerisqu vulputate, molestie ligula gravida, tempus ipsum.</p>
					  </div>
					</div>
			  </div>
		  </div>
		</div>
	</div>
-->

<div class="content-section-a " style="padding:50px 0;">
		<div class="container">
			<div class="row">
			<div class="col-md-6 col-md-offset-3 text-center">
				<h2>Manas</h2>
				<p class="lead" style="margin-top:0">NISB Magazine</p>
			 </div>
			<div class="col-md-6 col-md-offset-3 text-center">
				<div class="mockup-content">
						<div class="wow pulse animated animated" style="visibility: visible;">
							<a target="_blank" 
href="https://drive.google.com/open?id=0B9gPU0hbOJ6bR1lobjg5b280T00" class="btn btn-large btn-embossed btn-primary">Open</a>
						</div>
				</div>
			</div>
			</div>
		</div>
	</div>



	<!-- Footer was here -->
	<div id="footerhome"></div>



    <!-- JavaScript -->
    <script src="https://mridulganga.github.io/nisb-cdn/js/jquery-1.10.2.js"></script>
    <script src="https://mridulganga.github.io/nisb-cdn/js/bootstrap.js"></script>
	<script src="https://mridulganga.github.io/nisb-cdn/js/owl.carousel.js"></script>
	<script src="https://mridulganga.github.io/nisb-cdn/js/script.js"></script>
	<script src="https://mridulganga.github.io/nisb-cdn/js/jquery.sticky.js"></script>
	<!-- StikyMenu -->
	<script type="text/javascript">
	  $(document).ready(function(){
	  $("#navhome").sticky({topSpacing:0});
	  });

	</script>



	<!-- Smoothscroll -->


	<script type="text/javascript" src="https://mridulganga.github.io/nisb-cdn/js/jquery.corner.js"></script>
	<script src="https://mridulganga.github.io/nisb-cdn/js/wow.min.js"></script>
	<script>
	 new WOW().init();
	</script>
	<script src="https://mridulganga.github.io/nisb-cdn/js/classie.js"></script>
	<script src="https://mridulganga.github.io/nisb-cdn/js/uiMorphingButton_inflow.js"></script>
	<!-- Magnific Popup core JS file -->
	<script src="https://mridulganga.github.io/nisb-cdn/js/jquery.magnific-popup.js"></script>
</body>

</html>
