  <!-- FlatFy Theme - Andrea Galanti /-->
<!doctype html>
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if IE 9]>    <html class="no-js ie9" lang="en"> <![endif]-->
<!--[if gt IE 9]><!--> <html> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">
    <meta name="description" content="NISB Women In Engineering affinity group">
    <meta name="author" content="">

	<!--base href="https://mridulganga.github.io/nisb-cdn/" target="_blank "-->
<link rel="stylesheet" type="text/css" href="https://mridulganga.github.io/nisb-cdn/css/preloader.css">
    <link rel="icon" href="https://mridulganga.github.io/nisb-cdn/img/logos/resized_logo.png">
    <title>NIE IEEE Student Branch</title>

    <!-- Bootstrap core CSS -->
    <link href="https://mridulganga.github.io/nisb-cdn/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom Google Web Font -->
    <link href="https://mridulganga.github.io/nisb-cdn/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Arvo:400,700' rel='stylesheet' type='text/css'>

    <!-- Custom CSS-->
    <link href="https://mridulganga.github.io/nisb-cdn/css/general.css" rel="stylesheet">

	 <!-- Owl-Carousel -->
    <link href="https://mridulganga.github.io/nisb-cdn/css/custom.css" rel="stylesheet">
	<link href="https://mridulganga.github.io/nisb-cdn/css/owl.carousel.css" rel="stylesheet">
    <link href="https://mridulganga.github.io/nisb-cdn/css/owl.theme.css" rel="stylesheet">
	<link href="https://mridulganga.github.io/nisb-cdn/css/style.css" rel="stylesheet">
	<link href="https://mridulganga.github.io/nisb-cdn/css/animate.css" rel="stylesheet">

	<!-- Magnific Popup core CSS file -->
	<link rel="stylesheet" href="https://mridulganga.github.io/nisb-cdn/css/magnific-popup.css">

	<script src="https://mridulganga.github.io/nisb-cdn/js/modernizr-2.8.3.min.js"></script>  <!-- Modernizr /-->
	<!--[if IE 9]>
		<script src="js/PIE_IE9.js"></script>
	<![endif]-->
	<!--[if lt IE 9]>
		<script src="js/PIE_IE678.js"></script>
	<![endif]-->

	<!--[if lt IE 9]>
		<script src="js/html5shiv.js"></script>
	<![endif]-->
	<style>
	  li {
	  list-style-type: inherit;
	  }
	 </style>
</head>

<body id="home">

	<!-- Preloader -->
	<div id="preloader">
		<!--div id="status"></div-->
      	</div>

	<!-- Nav was here -->
	<div id="navhome"></div>

	<!-- What is -->
	<div id="whatis" class="content-section-b" style="border-top: 0">
		<div class="container">

			<div class="col-md-6 col-md-offset-3 text-center wrap_title">
				<h2>Women in Engineering</h2>
				<p class="lead" style="margin-top:0">NISB's Work in WIE<p>

			</div>

			<div class="row">

				<div class="col-sm-10 wow fadeInDown text-justify" style="float:none; margin:0 auto; overflow:hidden;">
				  <center><center><img class="rotate" src="https://www.ieee.org/membership_services/membership/women/ieee_wie_purple.gif" style="width:80px;" alt="WIE">



	<h3>About Us</h3></center>

  <p class="lead">
    IEEE Women in Engineering (WIE) is one of the largest international professional organization dedicated to promoting women engineers and scientists and inspiring girls around the world to follow their academic interests to a career in engineering.
    The IEEE Women in Engineering Student Branch Affinity Group at the National Institute of Engineering was formed on 13th April 2015.
  </p>

<div>
  <img class="row " src="https://mridulganga.github.io/nisb-cdn/img/wie/default.jpg"  style="display:blocK; width:500px; text-align: justify;" alt="">
</div>
<br><br><br><br>
<h4>Mission and Vision</h4>
  <p>
    The mission of IEEE WIE is to facilitate the recruitment and retention of women in technical disciplines globally.
    IEEE WIE envisions a vibrant community of IEEE women and men collectively using their diverse talents to innovate for the benefit of humanity.
  </p>
  <br><br>

  <h4>IEEE WIE strives to:</h4>
<div style="text-align: justify; float:none; marign:0 auto;">
<ul>
  <li>Recognize women’s outstanding achievements in electrical and electronics engineering through IEEE Awards nominations.</li>
  <li>Organize receptions at major technical conferences to enhance networking and to promote membership in WIE.</li>
  <li>Advocate women in leadership roles in IEEE governance and career advancement for women in the profession.</li>
  <li>Provide assistance with the formation of new WIE Affinity Groups and support ongoing activities.</li>
  <li>Promote IEEE r grade advancement for women to the membership grades of Senior member and Fellow.</li>
  <li>Facilitate the development of programs and activities that promote the entry into and retention of women in engineering programs.</li>
  <li>Administer the IEEE Student-Teacher and Research Engineer/Scientist (STAR) Program to mentor young women in junior and high schools.</li>
</ul>
</div>
	</div><!-- /.col-lg-4 -->

</div><!-- /.row -->

<br><br><br>
<div class="row">
  <div class="col-md-4"><img style="width:100%" src="http://mridulganga.github.io/nisb-cdn/img/wie/1.jpg"></div>
  <div class="col-md-8"><img style="width:100%" src="http://mridulganga.github.io/nisb-cdn/img/wie/2.jpg"></div>
<br><br>
  <div class="col-md-3"><img style="width:100%" src="http://mridulganga.github.io/nisb-cdn/img/wie/3.jpg"></div>
  <div class="col-md-3"><img style="width:100%" src="http://mridulganga.github.io/nisb-cdn/img/wie/4.jpg"></div>
  <div class="col-md-3"><img style="width:100%" src="http://mridulganga.github.io/nisb-cdn/img/wie/5.jpg"></div>
  <div class="col-md-3"><img style="width:100%" src="http://mridulganga.github.io/nisb-cdn/img/wie/6.jpg"></div>
</div>
<br><br><br>

<div class="row" style="text-align: justify; margin:20px auto; float:none;">
  <center><h4>WIE members receive the following benefits</h4></center>
  <ul>
    <li>Access to the electronic WIE Membership Directory;</li>
    <li>Monthly WIE electronic newsletter which contains career information, reports on WIE and Affinity Group activities, IEEE news, and more;</li>
    <li>Opportunities to network, volunteer, and participate in local WIE activities.</li>
  </ol>
</div>
<br><br><br>

<div class="row">
  <div class="panel panel-info">
         		<div class="panel-heading"><h4>FAQ</h4></div>
         		<div class="panel-body"><ol>
              <li><b>How do I join WIE?</b><br>
              By contacting us.</li>

              <li><b>What is the membership fee?</b><br>
              It is free for IEEE Student Members and Graduate Student Members.</li>

              <li><b>Is WIE only for women?</b><br>
              No. Men are welcomed and encouraged to join WIE.</li>

              <li><b>Who is eligible for WIE membership?</b><br>
		Any IEEE member enrolled in undergraduate or postgraduate course at NIE.</li>
	      <li><b>Where is the official website of IEEE WIE?</b><br>
		<a href="http://wie.ieee.org">Here</a>
	      </li>
         		</ol></div>
         	</div>
</div>


		</div>
	</div>

<div class="container-fluid">
                    	<div class="row">
                    	<h3 class="text-center">Contact: </h3>
                    		<div class="text-center cs-contact-inner">
                    			Chairperson<br>
								Varsha Rao<br>
								<a href="mailto:varsha.r@ieee.org">varsha.r@ieee.org</a>
                    		</div>
                    	</div>
                    </div>




	<!-- Footer was here -->
	<div id="footerhome"></div>

    <!-- JavaScript -->
    <script src="https://mridulganga.github.io/nisb-cdn/js/jquery-1.10.2.js"></script>
    <script src="https://mridulganga.github.io/nisb-cdn/js/bootstrap.js"></script>
	<script src="https://mridulganga.github.io/nisb-cdn/js/owl.carousel.js"></script>
	<script src="https://mridulganga.github.io/nisb-cdn/js/script.js"></script>
	<!-- StikyMenu -->
	<script src="https://mridulganga.github.io/nisb-cdn/js/stickUp.min.js"></script>
<!--	<script type="text/javascript">
		$(document).ready( function() {
		  	$('.navbar-default').stickUp();

		});

	</script>
	<!-- Smoothscroll -->
<script type="text/javascript">
		$(document).ready( function() {
			$("#preloader").load("https://mridulganga.github.io/nisb-cdn/preloader.html");

		});

	</script>
<script src="https://mridulganga.github.io/nisb-cdn/js/preloader.js">
  
	<script type="text/javascript" src="https://mridulganga.github.io/nisb-cdn/js/jquery.corner.js"></script>
	<script src="https://mridulganga.github.io/nisb-cdn/js/wow.min.js"></script>
	<script>
	 new WOW().init();
	</script>
	<script src="https://mridulganga.github.io/nisb-cdn/js/classie.js"></script>
	<script src="https://mridulganga.github.io/nisb-cdn/js/uiMorphingButton_inflow.js"></script>
	<!-- Magnific Popup core JS file -->
	<script src="https://mridulganga.github.io/nisb-cdn/js/jquery.magnific-popup.js"></script>
</body>

</html>
