  <!-- FlatFy Theme - Andrea Galanti /-->
<!doctype html>
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if IE 9]>    <html class="no-js ie9" lang="en"> <![endif]-->
<!--[if gt IE 9]><!--> <html> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">
    <meta name="description" content="Template NISB web ">
    <meta name="author" content="">

	<!--base href="https://mridulganga.github.io/nisb-cdn/" target="_blank"-->

    <link rel="icon" href="../static/favicon.png">
    <title>NIE IEEE Student Branch</title>

    <!-- Bootstrap core CSS -->
    <link href="https://mridulganga.github.io/nisb-cdn/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom Google Web Font -->
    <link href="https://mridulganga.github.io/nisb-cdn/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Arvo:400,700' rel='stylesheet' type='text/css'>

    <!-- Custom CSS-->
    <link href="https://mridulganga.github.io/nisb-cdn/css/general.css" rel="stylesheet">

	 <!-- Owl-Carousel -->
    <link href="https://mridulganga.github.io/nisb-cdn/css/custom.css" rel="stylesheet">
	<link href="https://mridulganga.github.io/nisb-cdn/css/owl.carousel.css" rel="stylesheet">
    <link href="https://mridulganga.github.io/nisb-cdn/css/owl.theme.css" rel="stylesheet">
	<link href="https://mridulganga.github.io/nisb-cdn/css/style.css" rel="stylesheet">
	<link href="https://mridulganga.github.io/nisb-cdn/css/animate.css" rel="stylesheet">

	<!-- Magnific Popup core CSS file -->
	<link rel="stylesheet" href="https://mridulganga.github.io/nisb-cdn/css/magnific-popup.css">

	<script src="https://mridulganga.github.io/nisb-cdn/js/modernizr-2.8.3.min.js"></script>  <!-- Modernizr /-->
	<!--[if IE 9]>
		<script src="js/PIE_IE9.js"></script>
	<![endif]-->
	<!--[if lt IE 9]>
		<script src="js/PIE_IE678.js"></script>
	<![endif]-->

	<!--[if lt IE 9]>
		<script src="js/html5shiv.js"></script>
	<![endif]-->

</head>

<body id="home">

	<!-- Preloader -->
	<div id="preloader">
		<!--div id="status"></div-->
                         <p class="preloader">$ sudo nisb install website</p>
                         <p class="preloader">Installing   nisb-website...<span>|</span></p>
	</div>

	<!-- Nav was here -->
	<div id="navhome2"></div>



	<!-- What is -->
	<div id="whatis" class="content-section-b" style="border-top: 0">
		<div class="container">

			<div class="col-md-6 col-md-offset-3 text-center wrap_title">
				<h2>Login</h2>
				<p class="lead" style="margin-top:0">NISB Login<p>

			</div>

      <div class="row">

			<form role="form" action="" method="post">
				<div class="col-md-6" style="float:none; margin:0 auto;">
					<div class="form-group">
						<label for="InputName">Username</label>
						<div class="input-group">
							<input type="text" class="form-control" name="uname" id="uname" placeholder="Username" required="">
							<span class="input-group-addon"><i class="glyphicon glyphicon-ok form-control-feedback"></i></span>
						</div>
					</div>

					<div class="form-group">
						<label for="InputEmail">Password</label>
						<div class="input-group">
							<input type="password" class="form-control" id="pass" name="pass" placeholder="Password" required="">
							<span class="input-group-addon"><i class="glyphicon glyphicon-ok form-control-feedback"></i></span>
						</div>
					</div>

					<input type="submit" name="submit" id="submit" value="Login" class="btn wow tada btn-embossed btn-primary pull-right animated animated" style="visibility: visible; animation-name: tada;">
				</div>
			</form>

			<hr class="featurette-divider hidden-lg">
    </div><!--Row end-->


		</div>
	</div>





	<!-- Footer was here -->
	<div id="footerhome"></div>

    <!-- JavaScript -->
    <script src="https://mridulganga.github.io/nisb-cdn/js/jquery-1.10.2.js"></script>
    <script src="https://mridulganga.github.io/nisb-cdn/js/bootstrap.js"></script>
	<script src="https://mridulganga.github.io/nisb-cdn/js/owl.carousel.js"></script>
	<script src="https://mridulganga.github.io/nisb-cdn/js/script.js"></script>
	<!-- StikyMenu -->
	<script src="https://mridulganga.github.io/nisb-cdn/js/stickUp.min.js"></script>
	<script type="text/javascript">
		$(document).ready( function() {
			$("#navhome").load("https://mridulganga.github.io/nisb-cdn/nav.html");
			$("#footerhome").load("https://mridulganga.github.io/nisb-cdn/footer.html");
		  	$('.navbar-default').stickUp();

		});

	</script>
	<!-- Smoothscroll -->
	<script type="text/javascript" src="https://mridulganga.github.io/nisb-cdn/js/jquery.corner.js"></script>
	<script src="https://mridulganga.github.io/nisb-cdn/js/wow.min.js"></script>
	<script>
	 new WOW().init();
	</script>
	<script src="https://mridulganga.github.io/nisb-cdn/js/classie.js"></script>
	<script src="https://mridulganga.github.io/nisb-cdn/js/uiMorphingButton_inflow.js"></script>
	<!-- Magnific Popup core JS file -->
	<script src="https://mridulganga.github.io/nisb-cdn/js/jquery.magnific-popup.js"></script>
</body>

</html>
